<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>545162781415-31nsof3c7808f5f2s46vhe41sl3mr0c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545162781415-31nsof3c7808f5f2s46vhe41sl3mr0c0</string>
	<key>API_KEY</key>
	<string>AIzaSyDMQgfaYBIIUTBTgajR6TL-gIM07epiAPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>545162781415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padc.StudentRegistration</string>
	<key>PROJECT_ID</key>
	<string>student-registration-ea77e</string>
	<key>STORAGE_BUCKET</key>
	<string>student-registration-ea77e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545162781415:ios:c4929c95f0e8b091</string>
	<key>DATABASE_URL</key>
	<string>https://student-registration-ea77e.firebaseio.com</string>
</dict>
</plist>